version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/db
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongo
      - redis
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://backend:4000
    depends_on:
      - backend
    ports:
      - "3000:3000"

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mongo_data:
