version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    environment:
      - PORT=4000
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://backend:4000
    depends_on:
      - backend
    ports:
      - "3000:3000"